#### Creating Databases in MySQL

In [11]:
# pip install mysql-connector-python (IN ACACONDA PROPT) & OPEN JUPYTER AT THAT LOCATION ONLY
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="password"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028F21899608>

### Creating Databases

In [13]:
cursor1 = connection.cursor()

cursor1.execute("CREATE DATABASE student2")

In [14]:
cursor1.execute('SHOW DATABASES')

In [15]:
for database1 in cursor1:
    print(database1)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('student1',)
('student2',)
('sys',)
('vitthal',)
('world',)

### Execute And Drop Some Databases And Check

In [16]:
cursor1.execute("DROP DATABASE student1")

In [17]:
cursor1.execute('SHOW DATABASES')

In [18]:
for database1 in cursor1:
    print(database1)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('student2',)
('sys',)
('vitthal',)
('world',)